extends layout

block content
  h1 Home page
  each post in posts
    if !post.isPrivate
      div.post_card.post_card_member
        img(src=post.files[0].url, alt="Image", style="max-width: 100%;")
        div.user_details
          span.username By #{post.user.username},
        div.title!= post.title
        div.date= post.timestamp_formatted
        hr
        div.caption!= post.caption
        a(href=`${post.id}/post-detail`) Read Blog
