extends layout

block content
  h1.my_account_page_title=title
  div.my_account_page_post_container
    - if (posts.length === 0)
      p.my_account_page_p1 Oh, you have not posted yet.
    - else
      - for (const post of posts)
        div.my_account_page_container
          img.my_account_page_image(src=post.files[0].url, alt="Image", style="max-width: 100%;")
          div.my_account_page_postTitle!= post.title
          div.my_account_page_date #{post.timestamp_formatted}
          hr
          div.my_account_page_total_likes Total Likes: #{post.likes.length}
          hr
          div.my_account_page_caption!= post.caption
          hr
          div.my_account_page_content!= post.content
          hr
          div.my_account_page_postPrivacy
            if post.isPrivate
              p.my_account_page_privatePost This is a private post, not published
            else
              p.my_account_page_publicPost This is a public post
          hr
          p.my_account_page_deletePost
            a(href=`${post.post_url}/delete`) Delete Post
          p.my_account_page_editPost
            a(href=`${post.post_url}/edit-post`) Edit Post
          if post.isPrivate
            a.my_account_page_publicButton(href=`${post.post_url}/post-privacy`) Make it Public
          else
            a.my_account_page_privateButton(href=`${post.post_url}/post-privacy`) Make it Private