extends layout

block content
  h1=title
  div.post_container
    - if (posts.length === 0)
      p Oh, you have not posted yet.
    - else
      - for (const post of posts)
        div.post_card.post_card_member
          img(src=post.files[0].url, alt="Image", style="max-width: 100%;")
          div.title!= post.title
          div.date #{post.timestamp_formatted}
          hr
          div.total-likes Total Likes: #{post.likes.length}
          hr
          div.caption!= post.caption
          hr
          div.content!= post.content
          hr
          div
            if post.isPrivate
              p This is a private post, not published
            else
              p This is a public post
          hr
          p
            a(href=`${post.post_url}/delete`) Delete Post
          p
            a(href=`${post.post_url}/edit-post`) Edit Post
          if post.isPrivate
            a(href=`${post.post_url}/post-privacy`) Make it Public
          else
            a(href=`${post.post_url}/post-privacy`) Make it Private