extends layout

block content

  
  if currentUser  
    div.post_detail_currentUser
      h1.post_detail_currentUser_title!=posts.title
      img.post_detail_currentUser_image(src=posts.files[0].url, alt="Image", style="max-width: 100%;")
      div.post_detail_currentUser_details
        span.post_detail_currentUser_username By #{posts.user.username},
      
      div.post_detail_currentUser_date= posts.timestamp_formatted
      - if (posts.likes.includes(currentUser._id))
        a.post_detail_currentUser_dislike(href=`${posts.post_url_like}/dislike-blog`) (#{totalLikes}) Dislike it
      - else
        a.post_detail_currentUser_like(href=`${posts.post_url_like}/like-blog`) (#{totalLikes}) Like it
      hr
      div.post_detail_currentUser_content!= posts.content
        if comments.length > 0
          div.post_detail_currentUser_comments
            h3 Comments:
            each comment in comments
              div.post_detail_currentUser_commentList
                if (comment.user.id == currentUser.id)
                  span.post_detail_currentUser_comment_author #{comment.user.username}:#{' '}
                  span.post_detail_currentUser_comment_text !{comment.content}
                  a.post_detail_currentUser_delete(href=`/delete-comment/${comment._id}`) #{"  "} Delete
                  br
                  span.post_detail_currentUser_comment_time #{comment.timestamp_formatted}
                else
                  span.post_detail_currentUser_comment_author #{comment.user.username}:#{' '}
                  span.post_detail_currentUser_comment_text !{comment.content}
                  br
                  span.post_detail_currentUser_comment_time #{comment.timestamp_formatted}
      form(method='POST' action='').post_detail_currentUser_form_comment
        h3 Add Comments
        div.post_detail_currentUser_comment_group
            label.post_detail_currentUser_addComment(for='comment') Write your comment: 
            input.post_detail_currentUser_commentInput#comment(type='text' name='comment' required='true' )
        button.post_detail_currentUser_submitButton(type='submit') Submit
  else
    div.post_detail_noUser
      h1.post_detail_noUser_title!=posts.title
      img.post_detail_noUser_image(src=posts.files[0].url, alt="Image", style="max-width: 100%;")
      div.post_detail_noUser_details
        span.post_detail_noUser_username By #{posts.user.username},
      div.post_detail_noUser_date= posts.timestamp_formatted
      p.post_detail_noUser_headline You need to be logged in to like and comment on the post.
      hr
      div.post_detail_noUser_content!= posts.content